{{ $src := .Get "src" }}
{{ $preload := .Get "preload" | default "false" }}
{{ $caption1 := .Get "caption1" }}
{{ $caption2 := .Get "caption2" }}

{{ $res := .Page.Resources.GetMatch $src }}
{{ $url := cond $res $res.RelPermalink ($src | relURL) }}

<figure>
    <div class="audio-panel">
        <audio controls preload="{{ $preload }}">
            <source src="{{ $url }}" type="audio/mpeg">
        </audio>
        {{ with .Get "caption1" }}<figcaption>{{ . }}</figcaption>{{ end }}
        {{ with .Get "caption2" }}<figcaption>{{ . }}</figcaption>{{ end }}
    </div>
</figure>